<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%- include('./partials/header') %>

    <!-- Main Content -->
    <main class="container mt-5 flex-grow-1">
      <div class="row">
        <div class="col-md-8">
          <h1>Welcome to URL Shortener</h1>
          <p>Shorten your long URLs easily and share them with others.</p>

          <!-- Alert for URL Shortened -->
          <div
            class="alert alert-success alert-dismissible fade show mt-3"
            id="shortenedAlert"
            role="alert"
            style="display: none"
          >
            <p id="alertMsg" class="p-0 m-0"></p>
            <button type="button" class="btn-close" aria-label="Close"></button>
          </div>

          <!-- URL Shortening Form -->
          <form action="/url/shorten" method="POST" id="myForm">
            <div class="mb-3">
              <label for="urlInput" class="form-label"
                >Enter URL to Shorten</label
              >
              <input
                type="url"
                class="form-control"
                id="urlInput"
                name="originalURL"
                placeholder="Enter URL here"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary" id="shortenBtn">
              Shorten URL
            </button>
          </form>
        </div>
      </div>
    </main>

    <%- include('./partials/footer') %> <%- include('./partials/scripts') %>

    <!-- Custom JavaScript -->
    <script>
      const form = document.querySelector("#myForm");
      const alertElement = document.getElementById("shortenedAlert");
      const alertMsg = document.getElementById("alertMsg");

      form.addEventListener("submit", async function (event) {
        event.preventDefault();

        const formData = new FormData(this);
        const data = new URLSearchParams(formData);

        try {
          const response = await fetch("/url/shorten", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body: data,
          });

          if (response.ok) {
            const responseData = await response.json();
            if (responseData.msg === "URL_EXISTS") {
              alertMsg.innerText = "URL has already been shortened!";
              alertElement.style.display = "block";
            }
            if (responseData.msg === "URL_SHORTNED") {
              alertMsg.innerText = "URL has been shortened successfully.";
              alertElement.style.display = "block";
            }
          } else {
            console.error(
              "Server responded with an error:",
              response.statusText
            );
          }
        } catch (error) {
          console.error("Error:", error);
        }
      });

      // Event listener for closing the alert
      alertElement
        .querySelector(".btn-close")
        .addEventListener("click", function () {
          console.log(alertElement);
          alertElement.style;
          alertElement.style.display = "none";
        });
    </script>
  </body>
</html>
