<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <body class="d-flex flex-column min-vh-100">
    <%- include('./partials/header') %>


      <!-- Main Content -->
      <main class="container mt-5 flex-grow-1">
        <div class="row">
          <div class="col-md-8">
            <h1>Welcome to URL Shortener</h1>
            <p>Shorten your long URLs easily and share them with others.</p>

            <!-- Alert for URL Shortened -->
            <div
              class="alert alert-success alert-dismissible fade show mt-3"
              id="shortenedAlert"
              role="alert"
              style="display: none"
            >
              URL has been shortened successfully.
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>

            <!-- URL Shortening Form -->
            <form action="/url/shorten" method="POST">
              <div class="mb-3">
                <label for="urlInput" class="form-label"
                  >Enter URL to Shorten</label
                >
                <input
                  type="url"
                  class="form-control"
                  id="urlInput"
                  name="originalURL"
                  placeholder="Enter URL here"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary" id="shortenBtn">
                Shorten URL
              </button>
            </form>
          </div>
        </div>
      </main>

      <%- include('./partials/footer') %> <%- include('./partials/scripts') %>

      <!-- Custom JavaScript -->
      <script>
        document
          .getElementById("shortenBtn")
          .addEventListener("click", function () {
            document.getElementById("shortenedAlert").style.display = "block";
          });
      </script>
    </body>
  </body>
</html>
